{% extends 'web_core/main.html' %}

{% block content %}

<style>
    .col-md-2 {
        padding: 0;
    }

    .col-md-10 {
        margin-top: 50px;
    }

    .card-body {
        padding-bottom: 0px;
    }

    .table-title {
        text-align: center;
    }

    .table th,
    .table td {
        vertical-align: top;
        text-align: left;
    }

    .small-content {
        width: 150px;
    }

    .mid-content {
        width: 250px;
    }

    .large-content {
        width: 450px;
    }

    .table-head {
        color: #ffff;
        background-color: #399;
    }

    .btn.edit-btn {
        font-weight: bold;
        background-color: rgb(255, 204, 0);
        border-color: rgb(255, 204, 0);
        border-radius: 6px;
        border-width: 1px;
        color: black;
        padding: 10px 14px;
        margin: auto;
        right: 0;
    }
    
    .btn.back-btn {
        font-weight: bold;
        background-color: white;
        border-color: black;
        border-radius: 6px;
        border-width: 1px;
        color: black;
        padding: 10px 14px;
        margin: auto;
        right: 0;
    }

    .form-btn {
        padding-top: 1%;
        display: flex;
        justify-content: center;
    }
</style>
<h2 class="table-title" style>CHI TIẾT PO</h2>
<div class="card card-body">
    <table class="table table-sm po-canhan">
        <tr>
            <th class="mid-content"></th>
            <th class="mid-content">Tiêu đề</th>
            <td class="large-content">{{po.ma_PR.ten_PR}}</td>
            <th class="small-content"></th>
            <th class="small-content"></th>
        </tr>
        <tr>
            <th class="mid-content"></th>
            <th class="mid-content">Tên hàng hoá</th>
            <td class="mid-content">{{pr_hh.ma_hang_hoa.ten_hang_hoa}}</td>
            <th class="mid-content">Số lượng yêu cầu</th>
            <td class="large-content">{{pr_hh.so_luong}}</td>
        </tr>
        <tr>
            <th class="mid-content"></th>
            <th class="mid-content">Yêu cầu hàng hoá</th>
            <td class="mid-content">{{pr_hh.yeu_cau}}</td>
            <th class="mid-content"></th>
            <th class="mid-content"></th>
        </tr>
        <tr>
            <th class="mid-content"></th>
            <th class="mid-content">Nhà bán hàng</th>
            <td class="mid-content"><a href="{% url 'quanli_xem_ncc' po.ma_ncc.ma_NCC %}">{{po.ma_ncc.ten_doanh_nghiep}}</a></td>
            <th class="mid-content"></th>
            <th class="mid-content"></th>
        </tr>
        <tr>
            <th class="mid-content"></th>
            <th class="mid-content">Ngày cần hàng</th>
            <td class="mid-content">{{pr_hh.ngay_can_hang|date:"d/m/Y"}}</td>
            <th class="mid-content">Số lượng đặt</th>
            <td class="mid-content">{{po.so_luong}}</td>
        </tr>
        <tr>
            <th class="mid-content"></th>
            <th class="mid-content">Mã PR</th>
            <td class="small-content">{{po.ma_PR.ma_PR}}</td>
            <th class="small-content">Mã PO</th>
            <td class="large-content">{{po.ma_PO}}</td>
        </tr>
        <tr>
            <th class="mid-content"></th>
            <th class="mid-content">Nhân viên thu mua</th>
            <td class="mid-content">{{po.ma_nhan_vien_tao.ho_ten}}</td>
            <th class="mid-content">Quản lí duyệt</th>
            <td class="mid-content">{{po.ma_quan_ly_duyet.ho_ten}}</td>
        </tr>
        <tr>
            <th class="mid-content"></th>
            <th class="mid-content">Trạng thái đơn hàng</th>
            <td class="small-content">
            {% load index %}
            {% if request.user|first_group_name == 'thumua' %}
                {% if po.trang_thai == 'Chờ phê duyệt' %}
                    <a  href="{% url 'canhan_sua_po' po.ma_PO %}">
                        {{po.trang_thai}}
                    </a>
                {% else %}
                    {{po.trang_thai}}
                {% endif %}
            {% endif %}
            </td>
            <th class="small-content">Ngày đặt hàng</th>
            <td class="large-content">{{po.ngay_tao|date:"d/m/Y"}}</td>
        </tr>
        <tr>
            <th class="mid-content"></th>
            <th class="mid-content">Phê duyệt</th>
            <td class="mid-content">
                <input type="checkbox" class="pheduyet-checkbox" id="inline" {% if po.ma_quan_ly_duyet %} checked="true" {% endif %} disabled="disabled">
            </td>
            <th class="mid-content"></th>
            <th class="mid-content"></th>
        </tr>
    </table>
</div>
<div class="form-btn">
    {% if request.user|first_group_name == 'thumua' and po.trang_thai != 'Chờ phê duyệt' and po.trang_thai != 'Đã hoàn thành'%}
        <a class="btn edit-btn" href="{% url 'canhan_capnhat_po' po.ma_PO %}">Cập nhật trạng thái</a>
    {% endif %}
    <a class='btn back-btn' href="{% url 'canhan_dspo' %}">Trở lại</a>
</div>
{% endblock %}