{% extends 'web_core/main.html' %}

{% block content %}

<style>
    .col-md-2 {
        padding: 0;
    }

    .col-md-10 {
        margin-top: 5px;
    }

    .card-body {
        padding-bottom: 0px;
    }

    .table-title {
        text-align: center;
    }

    .table th,
    .table td {
        vertical-align: middle;
        text-align: left;
    }

    .small-content {
        width: 150px;
    }

    .mid-content {
        width: 250px;
    }

    .large-content {
        width: 450px;
    }

    .table-head {
        color: #ffff;
        background-color: #399;
    }

    .btn.edit-btn {
        font-weight: bold;
        background-color: rgb(255, 204, 0);
        border-color: rgb(255, 204, 0);
        border-radius: 6px;
        border-width: 1px;
        color: black;
        padding: 10px 14px;
        margin: auto;
        right: 0;
    }
    
    .btn.back-btn {
        font-weight: bold;
        background-color: white;
        border-color: black;
        border-radius: 6px;
        border-width: 1px;
        color: black;
        padding: 10px 14px;
        margin: auto;
        right: 0;
    }

    .form-btn {
        padding-top: 2%;
        padding-bottom: 2%;
        display: flex;
        justify-content: center;
    }
</style>
<h2 class="table-title" style>THÔNG TIN NHÀ CUNG CẤP</h2>
<div class="card card-body">
    <table class="table table-sm ncc">
        <tr>
            <th class="small-content"></th>
            <th class="small-content">Mã NCC</th>
            <td class="small-content">{{ncc.ma_NCC}}</td>
            <th class="small-content">Tên doanh nghiệp</th>
            <td class="small-content">{{ncc.ten_doanh_nghiep}}</td>
        </tr>
        <tr>
            <th class="small-content"></th>
            <th class="small-content">Mã số thuế</th>
            <td class="small-content">{{ncc.ma_so_thue}}</td>
            <th class="small-content">Số tài khoản</th>
            <td class="small-content">{{ncc.stk}}</td>

        </tr>
        <tr>
            <th class="small-content"></th>
            <th class="small-content">Địa chỉ</th>
            <td class="small-content">{{ncc.dia_chi}}</td>
            <th class="small-content"></th>
            <td class="small-content"></td>
        </tr>
        <tr>
            <th class="small-content"></th>
            <th class="small-content">Số điện thoại</th>
            <td class="small-content">{{ncc.sdt}}</td>
            <th class="small-content">Email</th>
            <td class="small-content">{{ncc.email}}</td>
        </tr>
        <tr>
            <th class="small-content"></th>
            <th class="small-content">Giấy phép</th>
            <td class="small-content">{{ncc.giay_phep}}</td>
            <th class="small-content"></th>
            <td class="mid-content"></td>
        </tr>
        <tr>
            <th class="small-content"></th>
            <th class="small-content">Hàng hoá cung cấp:</th>
            <td class="small-content"></td>
            <td class="small-content"></td>
            <td class="small-content"></td>
        </tr>
        {% for hh in ncc.ma_hang_hoa.all %}
            <tr>
                <th class="small-content"></th>
                <th class="small-content"></th>
                <td class="small-content">{{hh}}</td>
                <th class="small-content"></th>
                <td class="small-content"></td>
            </tr>
        {% endfor %}
        <tr>
            <th class="small-content"></th>
            <th class="small-content">Hợp đồng:</th>
            <th class="small-content"></th>
            <td class="small-content"></td>
            <td class="small-content"></td>
        </tr>
        {% for hd in hopdong %}
            <tr>
                <th class="small-content"></th>
                <th class="small-content"></th>
                <td class="small-content"><a href="{% url 'quanli_xem_hd' hd.ma_HD%}">{{hd.ma_HD}}</a></td>
                <th class="small-content"></th>
                <td class="small-content"></td>
            </tr>
        {% endfor %}
        <tr>
            <th class="small-content"></th>
            <th class="small-content">Năng lực hàng hoá</th>
            <td class="small-content">{{ncc.nang_luc_hang_hoa}}</td>
            <td class="small-content"></td>
            <td class="small-content"></td>
        </tr>
        <tr>
            <th class="small-content"></th>
            <th class="small-content">Công nợ</th>
            <td class="small-content">{{ncc.cong_no}}</td>
            <th class="small-content"></th>
            <td class="small-content"></td>
        </tr>
        <tr>
            <th class="small-content"></th>
            <th class="small-content">Ngày cập nhật</th>
            <td class="small-content">{{ncc.ngay_cap_nhat|date:"d/m/Y"}}</td>
            <th class="small-content">Người tạo</th>
            <td class="small-content">{{ncc.ma_nhan_vien_tao.ho_ten}}</td>
        </tr>
    </table>
</div>
<div class="form-btn">
    <a class='btn back-btn' href="{% url 'quanli_dsncc' %}">Trở lại</a>
</div>
{% endblock %}